body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    color: #636669;
}

h1, h2, h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    color: #404047;
}

h3 {
    margin-top: 0.5em;
}

.footer {
    border-top: solid 1px;
    border-bottom: solid 1px;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    background: #eee;
}

form label {
    margin-top: 15px;
    width: 6em;
    vertical-align: top;
    float: left;
}

form .error-message {
    color: red;
    font-style: italic;
}

input, textarea {
    width: 25em;
    font-size: 12pt;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-top: 15px;
    background: #f2f2f2;
    border: 2px solid #888;
}

.recipe_form_ingredients {
    width: 12em;
    position: absolute;
    margin-left: 26em;
    background: #ccf;
}

.recipe_form_submit {
    clear: both;
    width: 12em;
    background: #cfc;
}

.option_list {
    font-size: 10pt;
}

.recipe_page {
    font-family: Georgia, "Times New Roman", Times, serif;
    border: solid 4px #ccc;
    background: url('/paper.png');
    padding: 0em 1em 1em 1em;
    width: 40em;
}

.recipe_instructions {
    float: left;
    width: 25em;
    border: none;
    padding: 0 0.5em 0.5em 0.5em;
    margin-right: 1em;
    overflow: auto;
    font-style: italic;
}

.recipe_ingredients {
    position: relative;
    width: 11.5em;
    border: solid 1px #aaa;
    padding: 0 0.5em 0.5em 0.5em;
    background: white;
    overflow: auto;

}

.recipe_footer img {
    width: 18em;
    padding-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.message {
    padding: 0.5em;
    border: solid 1px;
    background: #ccccff;
}