body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    color: #636669;
}

h1, h2, h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    color: #404047;
}

.footer {
    border-top: solid 1px;
    border-bottom: solid 1px;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    background: #eee;
}

form label {
    margin-top: 15px;
    width: 6em;
    vertical-align: top;
    float: left;
}

form .error-message {
    color: red;
    font-style: italic;
}

input, textarea {
    width: 25em;
    font-size: 12pt;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-top: 15px;
    background: #f2f2f2;
    border: 2px solid #888;
}

.recipe_ingredients {
    width: 12em;
    position: absolute;
    margin-left: 26em;
    background: #ccf;
}

.recipe_submit {
    clear: both;
    width: 12em;
    background: #cfc;
}